@use '/src/style/style.scss' as var;

.itemProject {
    position: relative;
    box-shadow: 11px 10px 38px 0px rgba(0, 0, 0, 0.1);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var.$primary-color;
        border-radius: 10px;
    }
    .content {
        position: relative;
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        transition: .5s;
        .image {
            height: 100%;
            img {
                display: block;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(33,33,33, 0.6);
            padding: 30px;
            display: flex;
            opacity: 0;
            align-items: flex-end;
            color: var.$white-color;
            transition: .5s;
            h3 {
                position: relative;
                transform: translateY(30px);
                transition: .5s;
                width: 100%;
                opacity: 0;
                font-size: 24px;
                &:hover {
                    color: var.$primary-color;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: -2px;
                    left: 0;
                    background-color: var.$primary-color;
                    transition: .8s ease-in-out;
                }
            }
        }
    }
    &:hover {
        .content {
            transform: translate(20px, 20px);
            .overlay {
                opacity: 1;
                h3 {
                    transform: translateY(0);
                    opacity: 1;
                    &::before {
                        width: 80%;
                    }
                }
            }
        }
    }
}
@for $i from 1 to 7 {
    .itemProject:nth-child(#{$i}) {
        animation-delay: ($i * 0.3s)-0.3s;
    };
};