/* google font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1160px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 640px)  {
  .container {
    padding: 0 25px;
  }
}
.App {
  overflow: hidden;
}
/*  */

